<xf:css src="if_gs_gridshow_widget.less" />
<xf:js addon="Inforge/GridShow" src="inforge/gridshow/widget.js" min="1" />

<div class="block if-gs-widget">
	<xf:foreach loop="$tiles" value="$tile">
		<div class="if-gs-tile" style="background-image:url({$tile.image_url})" onclick="location.href='{$tile.link}';">
			<div class="if-gs-tile-category">
				{$tile.category}
			</div>
			<div class="if-gs-tile-title">
				{$tile.title}
			</div>
		</div>
	</xf:foreach>
</div>
<xf:js>
	if_gs_arrange_tiles();
</xf:js>