div.if-gs-widget {
	width: 100%;
	height: @xf-ifgsWidgetHeight;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: @xf-ifgsGridGap;
	grid-auto-flow: row dense;
	overflow: hidden;

	.if-gs-tile {
		position: relative;
		.xf-ifgsTileStyle();
		background-size: @xf-ifgsTileBgSize;
		background-position: @xf-ifgsTileBgPosition;
		background-repeat: @xf-ifgsTileBgRepeat;
		box-sizing: border-box;
		cursor: pointer;
		overflow: hidden;
		transition: all @xf-ifgsTileAnimationDuration;
		z-index: @xf-ifgsTileAnimation;

		&:hover when (@xf-ifgsTileAnimation = 1) {
			transform: scale(@xf-ifgsTileAnimationScale);
			z-index: 10;
		}

		&-span2h {
			grid-column: auto / span 2;
		}
		&-span4h {
			grid-column: auto / span 4;
		}
		&-span2v {
			grid-row: auto / span 2;
		}
		&-span3v {
			grid-row: auto / span 2;
		}

		.if-gs-tile-category {
			display: inline-block;
			.xf-ifgsCategoryStyle();
			max-height: @xf-ifgsCategoryMaxHeight;
			max-width: 100%;
			overflow: hidden;
		}

		.if-gs-tile-title {
			position: absolute;
			left: 0;
			bottom: 0;
			.xf-ifgsTitleStyle();
			max-height: @xf-ifgsTitleMaxHeight;
			max-width: 100%;
			overflow: hidden;
		}
	}
}